{% extends "base.html" %}

{% block extrahead %}
<style>
  @font-face {
    font-family: 'Lausanne';
    src: url('/fonts/TWKLausanne-300.woff') format('woff'),
         url('/fonts/TWKLausanne-300.woff2') format('woff2'),
         url('/fonts/TWKLausanne-300.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
      font-family: 'Lausanne';
      src: url('/fonts/TWKLausanne-400.woff') format('woff'),
          url('/fonts/TWKLausanne-400.woff2') format('woff2'),
          url('/fonts/TWKLausanne-400.ttf') format('truetype');
      font-weight: 400;
      font-style: normal;
  }
  @font-face {
      font-family: 'Lausanne';
      src: url('/fonts/TWKLausanne-500.woff') format('woff'),
          url('/fonts/TWKLausanne-500.woff2') format('woff2'),
          url('/fonts/TWKLausanne-500.ttf') format('truetype');
      font-weight: 500;
      font-style: normal;
  }
  @font-face {
      font-family: 'Lausanne';
      src: url('/fonts/TWKLausanne-700.woff') format('woff'),
          url('/fonts/TWKLausanne-700.woff2') format('woff2'),
          url('/fonts/TWKLausanne-700.ttf') format('truetype');
      font-weight: 700;
      font-style: normal;
  }
</style>
{% endblock %}