{% block state %}
terraform {
  backend "local" {
    path = "{{ config_renderer.working_dir }}/.terraform/{{ config_renderer.tf_state_namespace }}.tfstate"
  }
}
{% endblock %}

{% if not output_only %}

{% block environments %}
{% include "partials/collection/environments.tf.j2" %}
{% endblock environments %}

{% if env_collection.serverless_services %}
{% block vpc %}
{% include "partials/collection/vpc/vpc.tf.j2" %}
{% include "partials/collection/vpc/variables.tf.j2" %}
{% endblock vpc %}
{% endif %}

{% if env_collection.database_resources %}
{% block database %}
{% include "partials/collection/database/rds.tf.j2" %}
{% endblock database %}
{% endif %}

{% endif %}{# {% if not output_only %} #}