{% if env_collection.has_active_deployments %}

# Get available zones in the region
data "google_compute_zones" "available" {
  region = "{{ env_collection.region }}"
  status = "UP"
}

locals {
  machine_types = [
    "{{ env_collection.bastion_instance_type }}",
    "f1-micro",
    "e2-micro",
    "e2-small",
    "g1-small"
  ]
  selected_zone = "{{ env_collection.region }}-b"  # Adjust as needed
}

resource "null_resource" "check_machine_types" {
  provisioner "local-exec" {
    command = <<EOT
      for type in ${join(" ", local.machine_types)}; do
        if gcloud compute machine-types describe $type --zone=${local.selected_zone} &>/dev/null; then
          echo $type > ${path.module}/available_machine_type.txt
          exit 0
        fi
      done
      echo "None of the specified machine types are available." >&2
      exit 1
    EOT
    interpreter = ["/bin/sh", "-c"]
  }
}

data "local_file" "available_machine_type" {
  filename = "${path.module}/available_machine_type.txt"
  depends_on = [null_resource.check_machine_types]
}

resource "google_compute_instance" "{{ env_collection.instance_name }}-bastion" {
  name         = "{{ env_collection.instance_name }}-bastion"
  machine_type = trimspace(data.local_file.available_machine_type.content)
  zone         = local.selected_zone

  allow_stopping_for_update = true
  deletion_protection       = false
  tags                      = ["bastion"]

  boot_disk {
    initialize_params {
      image = "debian-cloud/debian-11"
    }
  }

  network_interface {
    network    = google_compute_network.app-network.id
    subnetwork = "{{ env_collection.instance_name }}"
    access_config {
      // Ephemeral public IP
    }
  }

  depends_on = [google_compute_network.app-network, null_resource.check_machine_types]
}

output "bastion_machine_type" {
  description = "Machine type of the bastion host"
  value       = google_compute_instance.{{ env_collection.instance_name }}-bastion.machine_type
}

output "bastion_zone" {
  description = "Zone of the bastion host"
  value       = google_compute_instance.{{ env_collection.instance_name }}-bastion.zone
}

resource "google_project_iam_member" "project-app-ssh-bastion" {
  project = "{{ env_collection.account_id }}"
  role    = "roles/compute.instanceAdmin.v1"
  member  = "serviceAccount:${google_service_account.{{ env_collection.instance_name }}.email}"
  depends_on = [google_project_service.iam, google_compute_instance.{{ env_collection.instance_name }}-bastion]
}

resource "google_compute_firewall" "rules" {
  project     = "{{ env_collection.account_id }}"
  name        = "bastion-{{ env_collection.instance_name }}"
  network     = google_compute_network.app-network.id
  description = "Allow ssh to bastion for {{ env_collection.instance_name }}"

  allow {
    protocol  = "tcp"
    ports     = ["22"]
  }

  source_ranges = ["0.0.0.0/0"]
  target_tags = ["bastion"]
}

{% endif %}{# if env_collection.has_active_deployments #}

