#!/bin/bash
set -e

trap 'send_{{ service.name }}_status_hook $?' EXIT

{% block install_commands %}
source {{ deployer.rendered_files_path }}/deploy-{{ service.name }}-functions.sh
send_{{ service.name }}_status_hook 0 "working"
{% endblock %}