{% if env_collection.hosted_zone_ns_records %}
{% for resource in environment.database_resources %}
{% if not resource.settings.use_existing %}

{%- endif %} # if resource.settings.use_db_proxy
{%- endif %} # if environment.active_deployment
{%- endfor %}{# {% for resource in environment.resources_by_type("database") %} #}
{%- endif %}{# if not hosted_zone_ns_records #}
