
variable "aws_resources_permission_lambda" {
  description = "List of AWS resources that the Lambda function needs to access"
  type        = list(string)
  default     = [ "logs", "cloudwatch", "ec2", "dynamodb", "s3"]
}

variable "lambda_function_name" {
  description = "Name of the Lambda function"
  type        = string
  default     = ""
}

variable "handler" {
    description = "Lambda function handler | e.g Format: filename.lambda_handler"
    type        = string
    default = "dynamodb.lambda_handler"
    # default     = ""
}

variable "runtime" {
    description = "Lambda function runtime"
    type        = string
    default     = "python3.12"
}

variable "environment_variables" {
  description = "Environment variables to pass to the Lambda function"
  type        = map(string)
  default     = {
  "REGION_NAME" = "us-east-2"
  }
}

variable "type_package_lambda_function" {
  description = "Method to package the Lambda function | Set [ 's3', 'filename', 'image' ], If you just want to upload the lambda without passing the file, leave it null "
  type        = string
  default = "filename"
}

variable "s3_bucket_name" {
  description = "S3 bucket to store the Lambda function package" 
  type        = string
  default     = ""
}

variable "s3_object_key" {
  description = "S3 key to store the Lambda function package"
  type        = string
  default = "dynamodb.zip"
  # default = ""
}

variable "s3_bucket_notification_filter_suffix" {
  description = "The suffix to filter the S3 bucket notifications"
  type        = string
  default = ".zip"
}

variable "logging_log_format" {
  description = "Log format for the CloudWatch log group"
  type        = string
  default     = "Text"
}

variable "type_source_lambda_function" {
  description = "Source of the Lambda function | Set [ 'file', 'dir' ]"
  type        = string
  default     = "file"
}

variable "source_file" {
  description = "Path to the Lambda function package"
  type        = string
  default = "/home/balmant/Desktop/cnc-lambda-function/input/dynamodb.py"
  # default = ""
}

variable "source_dir" {
  description = "Path Dir to the Lambda function package"
  type        = string
  default = "/home/balmant/Desktop/cnc-lambda-function/input/"
  # default = ""
}

variable "output_path" {
  description = "Output of the Lambda function"
  type        = string
  default = "/home/balmant/Desktop/cnc-lambda-function/output/dynamodb.zip"
  # default = ""
}

variable "image_uri" {
  description = "URI of the Lambda function image"
  type        = string
  default = ""
}