{# Initialize lb_rules.priority globally once #}
{% set lb_rules = namespace(priority=1) %}

{% block state %}
terraform {
  backend "local" {
    path = "{{ config_renderer.working_dir }}/.terraform/{{ config_renderer.tf_state_namespace }}.tfstate"
  }
}
{% endblock %}

{% if not output_only %}

{% block providers %}
{% include "partials/collection/providers.tf.j2" %}
{% endblock providers %}

{% block collection %}{% endblock collection %}
{% block collection_level_resources %}
{% include "partials/collection_level_resources.tf.j2" %}

{% if env_collection.hosted_zone_ns_records %}
{% if env_collection.serverless_services %}
{% block lambda_shared %}
{% include "partials/collection/lambda/lambda.tf.j2" %}
{% include "partials/collection/lambda/variables.tf.j2" %}
{% include "partials/collection/lambda/outputs.tf.j2" %}
{% endblock lambda_shared %}
{% endif %}

{% if env_collection.dynamodb_resources %}
{% block dynamodb_shared %}
{% include "partials/collection/dynamodb/dynamodb.tf.j2" %}
{% include "partials/collection/dynamodb/variables.tf.j2" %}
{% include "partials/collection/dynamodb/outputs.tf.j2" %}
{% endblock dynamodb_shared %}
{% endif %}

{% if env_collection.database_resources %}
{% block database_shared %}
{% include "partials/collection/database/rds.tf.j2" %}
{% endblock database_shared %}
{% endif %}
{% endif %}
{% endblock collection_level_resources %}

{% for service in sorted(env_collection.all_web_services, key=svc_path_lambda, reverse=True) %}
{% set environment = service.environment %}

{% block service_resources scoped %}
{% include "partials/service_level_resources.tf.j2" %}
{% endblock service_resources %}
{% endfor %}


{# For active environment #}
{% for environment in env_collection.active_environments %}
{% block environment_resources scoped %}
{% include "partials/environment_level_resources.tf.j2" %}
{% endblock environment_resources %}
{% endfor %}

{% set efs_mountpoint_status = namespace(created=False) %}


{% block custom scoped %}
{% endblock custom %}
{% endif %}{# {% if not output_only %} #}
